*{
	padding: 0;
	margin: 0;
    font-family: 'Aboreto', cursive;
}

.bgimage {
    height:100vh;
    background-color: #FEFEFE;
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 3.5rem;
    color: #151515;
}
.hero_desc {
    font-size: 2rem;
    color: #303030;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}